<app-navbar></app-navbar>

<h1 class="heading">About Civility International</h1>

<md-card class="believes-card center">
  <h2 class="secondary-heading">Civility International believes</h2>
  <div class="divider"></div>
  <h1>Explore our work to see the programs we create.</h1>
</md-card>

<div class="center mission">
  <h2>Mission</h2>
  <p>
    Civility International is a non-profit organization that focus on promoting, advocating, and empowering young leaders across the United States to create a culture of civility, diversity, and acceptance for everyone to learn, develop, and thrive. Through helping create and support campus wide civility organizations, Civility International plans on creating a culture at every school that embraces diversity, individualism and respect.
  </p>
</div>

<app-footer></app-footer>