<app-navbar></app-navbar>

<div class="landingImage">
  <span><h1 class="heading">About Civility International</h1></span>
</div>

<div class="center mission">
  <p>
    Civility International is a non-profit organization that focus on promoting, advocating, and empowering young leaders across the United States to create a culture of civility, diversity, and acceptance for everyone to learn, develop, and thrive. Through helping create and support campus wide civility organizations, Civility International plans on creating a culture at every school that embraces diversity, individualism and respect.
  </p>
</div>

<md-card class="believes-card center">
  <h2 class="secondary-heading" style="margin-top: 0; padding-top: 0;">Civility International believes</h2>
  <div class="divider"></div>
  <h1>Everyone has the right to thrive and pursue their own beliefs and views – to the benefit of a better world.</h1>
</md-card>

<app-footer></app-footer>