.landingImage {
    width: 100%;
    background-image: url('https://s30.postimg.org/4iyowl18x/children.jpg');
    background-size: 100%;
    min-height: 450px;
    background-repeat: no-repeat;
    margin-top: 0;
}

.grid {
    margin: 50px 40px 50px 20px;
}

.grid-tile {
    border: 10px solid #F1F1F1;
}


.whatWeDo-card {
    text-align: center; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: ridge;
}

.tile-image {
    height: 130px;
    width: 100%;
}