<app-navbar></app-navbar>

<h1 class="heading">Transparency</h1>

<p class="center intro">Here at Civility International, we want to be as up front about our inner workings as possible. We believe that this creates an environment of trust and transparency between us, our employees, donors, and the world.</p>

<div class="divider"></div>

<h3 class="secondary-heading">Financial Transparency</h3>

<h5 class="thirdary-heading">Breakdown of Expenses</h5>
<div style="display: block" class="chart center">
  <canvas baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </canvas>
</div>

<h5 class="thirdary-heading">Income vs Expenses by Month</h5>
<div style="display: block" class="chart center">
  <div style="display: block">
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>

<app-footer></app-footer>