/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.secondary-heading {
    color: #1CABE2;
}

.primary-color {
    background-color: #0D2D7E;
    color: white;
}

.disabled {
    opacity: 0.65; 
    cursor: not-allowed;
}

.link {
    text-decoration: none;
}

.heading {
    margin-top: 0;
    padding-top: 5%;
    text-align: center;
    font-size: 65px;
    color: white;
}

.secondary-heading {
    margin-top: 0;
    padding-top: 5%;
    margin-bottom: 0;
    text-align: center;
    font-size: 45px;
    color: darkslategray;
}

.thirdary-heading {
    margin-top: 0;
    padding-top: 5%;
    text-align: center;
    font-size: 25px;
    color: darkslategray;
}

md-card {
    border: ridge;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.divider {
    border-bottom: 3px solid #1CABE2;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Loading page */
.loading-text {
  font-weight: 100;
  font-size: 2.75rem;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateX(-50%);
	color: #45A4DB;
  animation: headerblink 4s infinite ease-in-out;
} 
.dot {
  position:absolute;
  top: 50%;
  left: 10%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #45A4DB;
  display: inline-block;
  animation: dotmove infinite 4s ease-in-out;
}

.dot:nth-child(1){
  animation-delay:.4s;
}
.dot:nth-child(2){
  animation-delay:.2s;
}
.dot:nth-child(4){
  animation-delay:-.2s;
}
.dot:nth-child(5){
  animation-delay:-.4s;
}
@keyframes dotmove{
  0%{left:-1%;opacity:.1}
  50%{left:49%;opacity:1}
  100%{left:101%;opacity:.1}
}
@keyframes headerblink {
  0%{opacity: .3}
  50%{opacity: 1}
  100%{opacity: .3}
}