<app-navbar></app-navbar>

<md-tab-group>
  <md-tab label="WHAT WE DO"><app-what-we-do></app-what-we-do></md-tab>
  <md-tab label="RESEARCH"><app-research></app-research></md-tab>
  <md-tab label="NEWS"><app-news></app-news></md-tab>
  <!--<md-tab label="CHAPTERS"><app-chapters></app-chapters></md-tab>-->
  <md-tab label="TAKE ACTION"><app-action></app-action></md-tab>
  <md-tab label="PARTNERS"><app-partners></app-partners></md-tab>
  <md-tab label="TEAM"><app-team></app-team></md-tab>
</md-tab-group>

<app-footer></app-footer>