<h1 class="heading">Research</h1>

<md-card class="research-card">
  <md-card-title style="border-bottom: 1px solid black;">Bullying</md-card-title>
  <p>
      There has been a rampant threat to students for decades due to incivility. One major case of this incivility in schools is bullying. A total of three million students per month are absent from school due to in-person bullying, and with social media on the rise, nearly 22 million students have experienced cyber bullying. Of those 22 million, 20% of those students think about committing suicide, and 1 in 10 attempt. Overall, in 2015 suicide was the third largest killer of teens in the US totaling 4,500. 
      <br><br>
    So where does Civility International come in? Over 70% of students said they have seen bullying in their schools, and over 70% of school staff has observed bullying as well.  Civility is the conscious act of choosing to do the right thing in times of discomfort, uncertainty, or difficulty. If students take action when they observe bullying, we can quickly eradicate the occurrence throughout schools, provide support to students who have been bullied, and severely decrease the total number of suicides in schools each year. All of this will be accomplished through re-prioritizing  and emphasizing the importance of civility in the schooling system.
    </p>
</md-card>

<img src="http://i66.tinypic.com/2s8s39i.jpg" class="civility-paper" />